<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: commonHead('Login - Quiz App')}"></head>

<body class="min-h-screen bg-base-200 flex items-center justify-center" data-theme="dark">


<div class="card mx-auto w-full max-w-5xl  shadow-xl">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">

            <h2 class="card-title text-center mb-4 justify-center">Login</h2>

            <div th:if="${loginError}" class="alert alert-error mb-4">
                <span th:text="${loginError}">Invalid credentials</span>
            </div>

            <div th:if="${infoMessage}" class="alert alert-success mb-4">
                <span th:text="${infoMessage}">Registration successful</span>
            </div>

            <form th:action="@{/login}" th:object="${loginForm}" method="post" class="space-y-3">

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Username</span>
                    </div>
                    <input th:field="*{username}" type="text" class="input input-bordered w-full focus:outline-none focus:ring-0 focus:border-base-200">
                </label>

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Password</span>
                    </div>
                    <input th:field="*{password}" type="password" class="input input-bordered w-full focus:outline-none focus:ring-0 focus:border-base-200">
                </label>

                <button type="submit" class="btn btn-primary w-full mt-2">
                    Login
                </button>
            </form>

            <p class="mt-4 text-center text-sm">
                No account?
                <a th:href="@{/register}" class="link link-primary">Register here</a>
            </p>

        </div>
    </div>
</div>

</body>
</html>
